@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');

body {

  font-family: 'Roboto';
  font-size: 115%;
  background-color: rgb(40, 40, 40);
  color: lightgrey;
}

a:link,
a:visited {
  background-color: hsl(170, 31%, 28%);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: hsl(230, 31%, 28%);
}