@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');

body {

  font-family: 'Roboto';
  font-size: 115%;
  background-color: #101010;
  color: #efefef;
}

a:link,
a:visited {
  background-color: #ce1c1b;
  color: #efefef;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #ce1b1b;
}