@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323';
  font-size: 150%;
  background-color: black;
  color: white;
}

a:link,
a:visited {
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-color: white;
}

a:hover,
a:active {
  background-color: rgb(49, 49, 49);
}