@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body{
  background-color: #11181d;
}

.header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
}

.header a{
  text-decoration: none;
  color: white;
}

.inner_header{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo{
  display: table;
  float: left;
  padding: 20px;
}

.nav{
  height: 100%;
  float: right;
}

.nav a{
  height: 100%;
  float: left;
  display: table;
  padding: 0px 20px;
}

.nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.contents{
  padding: 3%;
  text-align: center;
  color: white;
}

.warning{
  position: absolute;
  bottom: 3%;
  left: 2%;
  font-size: 18px;
  color: white;
}

.warning img{
  width: 30px;
  height: 30px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(103%) contrast(103%);
}

.button {
  background-color: white;
  color: black;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 130%;
  display: inline-block;
  border-style: none;
}