@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root
{
  /* Fonts */
  --fontFamily: "Roboto Slab", serif;
  --normalFont: 400;
  --boldFont: 700;
  --bolderFont: 900;

  /* Colors */
  --primaryBgColor: #FAEBD7;
  --textColor: #000000;
  --altTextColor: #505050;
}

html
{
  background-color: var(--primaryBgColor)
}

/* CSS Resets */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: var(--fontFamily);
  color: var(--textColor);
}

h2 {
  color: var(--altTextColor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  padding-top: 4%;
}