@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root
{
  /* Fonts */
  --fontFamily: "Roboto", sans-serf;
  --normalFont: 400;
  --boldFont: 700;
  --bolderFont: 900;

  /* Colors */
  --primaryBgColor: #121212;
  --secondaryBgColor: #1c1f25;
  --textColor: #d1d1d1;
  --primaryColor: #43928a;
  --secondaryColor: #a88bc9;
  --primaryShadow: #000000;
  --secondaryShadow: #d4c9e0;

    /* Specs */
  --bottomMargin: 0.5rem;
  --bottomMargin-2: 1rem;
  --lineHeight: 1.7rem;
  --transition: 0.3s;
}

html
{
  scroll-behavior: smooth;
  background-color: var(--primaryBgColor)
}

/* CSS Resets */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

a
{
  text-decoration: none;
  color: var(--primaryColor);
}

a:hover
{
  color: var(--primaryColor);
}

body
{
  font-family: var(--fontFamily);
  color: var(--textColor);
}

nav
{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--secondaryBgColor);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1
{
  color: var(--primaryColor);
}

nav a
{
  color: var(--primaryColor);
  transition: var(--transition);
}
nav a:hover
{
  color: var(--secondaryColor);
  border-bottom: 2px solid var(--secondaryColor);
}

nav ul
{
  display: flex;
  gap: 1.9rem;
}

nav ul li
{
  font-weight: var(--boldFont);
}

.hero
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img
{
  height: 37.5rem;
  width: 37.5rem;
  border-radius: 12px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0px 2px 15px 2px var(--primaryShadow);
}

.bio
{
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primaryShadow);
  background-color: var(--secondaryBgColor);
}

.bio h1
{
  margin-bottom: var(--bottomMargin);
}

.bio p
{
  line-height: var(--lineHeight);
  padding: 0.3rem 0;
}

.moreAbout
{
  background-color: var(--primarBgColor);
  padding: 1rem 7rem;
}

.moreAbout h2
{
  margin-bottom: var(--bottomMargin);
  text-align: center;
  padding-bottom: 1rem;
}

.moreAbout p
{
  line-height: var(--lineHeight);
  padding: 0.4rem;
  text-align: center;
}

.moreAbout li h2
{
  line-height: var(--lineHeight);
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.moreAbout li
{
  width: 33rem;
  border-radius: 6px;
  box-shadow: 0px 2px 8px 2px var(--primaryShadow);
  background-color: var(--secondaryBgColor);
}

.moreAbout ul
{
  display: flex;
  justify-content: space-between;
}

.projects
{
  background-color: var(--primaryBgColor);
  padding: 32px 0;
  margin-top: 1rem;
}

.projectPic
{
  padding: 0.4rem;
  width: 65%;
  height: 60%;
}

.projectsContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectsTitle
{
  text-align: center;
  margin-bottom: 1rem;
}

.projectContainer
{
  text-align: center;
  padding: 1rem;
}

.projectContainer p
{
  padding: 0.4rem;
}

.projectTitle
{
  margin-bottom: var(--bottomMargin);
}

.projectDetails
{
  margin-bottom: var(--bottomMargin);
}

.projectCard
{
  width: 21.875rem;
  background-color: var(--primaryBgColor);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primaryShadow);
  padding: 1rem;
  margin: 10px;
  background-color: var(--secondaryBgColor);
}
